# Import SQL database into Pandas.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
from db_connection import user,ps,host,port
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

ModuleNotFoundError: No module named 'db_connection'

In [2]:
 # variables to populate the database connection string
db_user = user
db_password = ps
db_host = host
db_port = port

# This database must already exist
db_name = "employee_db"

NameError: name 'user' is not defined

In [3]:
#Create engine to connect to the DB
engine = create_engine(f"postgres://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

NameError: name 'db_user' is not defined

# Histogram to visualize the most common salary ranges for employees.

In [4]:
salary = pd.read_sql_table("Salaries",engine)
salary.head()

NameError: name 'engine' is not defined

In [5]:
x = salary["salary"]
x

NameError: name 'salary' is not defined

In [6]:
#create a bin
num_bins = 10
n, bins, patches = plt.hist(x, num_bins, facecolor='blue', alpha=0.5)

plt.xlabel('Salary Amount')
plt.ylabel('Number of Employees')
plt.title('Most Common Salary Ranges For Employees')
plt.grid()
plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined

# Bar chart of average salary by title.

In [7]:
query = '''
SELECT t.title,s.salary
FROM "Salaries" AS s
INNER JOIN "Titles" AS t
ON t.emp_no = s.emp_no;
'''

title_salary = pd.read_sql_query(query,engine)
title_salary.head()

NameError: name 'engine' is not defined

In [8]:
group_sal = title_salary.groupby(title_salary["title"])
avg_salary = group_sal["salary"].mean()
avg_salary

NameError: name 'title_salary' is not defined

In [9]:
average_salary_df = pd.DataFrame({'avg salary': avg_salary})
avg_sal = average_salary_df.reset_index()
avg_sal

NameError: name 'avg_salary' is not defined

In [10]:
plt.style.use('ggplot')

x = avg_sal['title']
y = avg_sal['avg salary']


plt.bar(x, y, color='blue')
plt.xlabel("Job Title Name")
plt.ylabel("Salary")
plt.title("Average Salary By Title")

# rotate axis labels
plt.setp(plt.gca().get_xticklabels(), rotation=45, horizontalalignment='right')

plt.show()

NameError: name 'plt' is not defined